{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to <span class="ring-blue">Ringeleton skeleton</span></h1>
        <p>
            Congratulations! You have successfully installed the
            <a href="https://github.com/s-ringert/skeleton" target="_blank">Ringeleton skeleton application</a>.
            This skeleton can serve as a simple starting point for you to begin building your application.
        </p>
    </div>
{% endblock %}
